.nav-menu{
    background-color: black;
    padding: 1.2em;

}

.nav-menu a{
    padding: .5em;
    color: white;

}

.active{
    font-weight: bolder;
    text-decoration: underline;
    background-color: blue;
    color: black;
}